h1 {
    font-family: Luminari;
    margin: 5px;
    text-align: center;
}

body {
    background-image: linear-gradient(lightgreen, white);
    background-repeat: no-repeat;
}

.navigation {
    text-align: center;
    word-spacing: 100px;
    border-style: dotted;
    border-width: 1px;
    margin: 5px;
}

.Homepage:hover {
    font-size: 30px;
}

.Stock:hover {
    font-size: 30px;
}

.Info:hover {
    font-size: 30px;
}

.main-pic {
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

img {
    height: 200px; 
}

p::first-letter {
    font-size: 25px;
    font-family: Luminari;
}

li::first-letter {
    font-size: 25px;
    font-family: Luminari;
}